*{
    font-family: 'Titillium Web', sans-serif;
}
body{
    background-color: aqua;
}
.container{
    width: 320px;
    background-color: white;
    margin: 120px auto;
}
table{
    width: 100%;
    border-color: #f4f4f4;
}
td{
    width: 25%;
}
button{
    width: 100%;
    height: 70px;
    font-size: 24px;
    background-color: white;

}
#inputlabel{
    height: 120px;
    font-size: 40px;
    vertical-align: bottom;
    text-align: right;
    padding-right: 16px;
    background-color: #ececec;
}
#person{
    height: 30px;
    text-align: center;
    background-color: black;
    color: white;
    cursor: pointer;
}